@model RoomUsageApp.Models.ReportTableModel

@{
// ViewBag.Title = "Index";
}
<form id="mainForm" name="mainForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>ค้นหาตารางห้องเรียน</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="BU" class="col-sm-1 control-label">Faculty</label>
                                        <div class="col-sm-4">
                                            <select class="form-control m-b" name="FC" id="FC" data-placeholder="Select a faculty" @*value="@Model.s"*@></select>
                                            @*<select class="form-control m-b" name="account">
                                                    <option>Engineer 1</option>
                                                    <option>Engineer 2</option>
                                                    <option>Engineer 3</option>
                                                    <option>Engineer 4</option>
                                                </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="BU" class="col-sm-1 control-label">Building</label>
                                        <div class="col-sm-4">
                                            <select class="form-control m-b" name="BU" id="BU" data-placeholder="Select a building" @*value="@Model.s"*@></select>
                                            @*<select class="form-control m-b" name="account">
                                                    <option>Engineer 1</option>
                                                    <option>Engineer 2</option>
                                                    <option>Engineer 3</option>
                                                    <option>Engineer 4</option>
                                                </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="RO" class="col-sm-1 control-label">Room</label>
                                        <div class="col-sm-2">
                                            <select class="form-control m-b" name="RO" id="RO" data-placeholder="Select a room" @*value="@Model.s"*@></select>
                                            @*<select class="form-control m-b" name="account">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Day</label>
                                        <input type="checkbox" id="SU" name="SU" value="SU" label="SU" checked /><label style="padding-right:10px; padding-left:3px;">SU</label>
                                        <input type="checkbox" id="MO" name="MO" value="MO" label="MO" checked /><label style="padding-right:10px; padding-left:3px;">MO</label>
                                        <input type="checkbox" id="TU" name="TU" value="TU" label="TU" checked /><label style="padding-right:10px; padding-left:3px;">TU</label>
                                        <input type="checkbox" id="WE" name="WE" value="WE" label="WE" checked /><label style="padding-right:10px; padding-left:3px;">WE</label>
                                        <input type="checkbox" id="TH" name="TH" value="TH" label="TH" checked /><label style="padding-right:10px; padding-left:3px;">TH</label>
                                        <input type="checkbox" id="FR" name="FR" value="FR" label="FR" checked /><label style="padding-right:10px; padding-left:3px;">FR</label>
                                        <input type="checkbox" id="SA" name="SA" value="SA" label="SA" checked /><label style="padding-right:10px; padding-left:3px;">SA</label>
                                    </div>
                                </div>
                                <div class="row" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Time</label>
                                        <div class="col-sm-5">
                                            @*<select class="form-control m-b" name="timeFrom" id="timeFrom">
                                                    <option>Engineer 1</option>
                                                        <option>Engineer 2</option>
                                                        <option>Engineer 3</option>
                                                        <option>Engineer 4</option>
                                                </select>*@
                                            <input name="timeFrom" id="timeFrom" type="text" class="time ui-timepicker-input col-sm-5" autocomplete="off">
                                            <label class="col-sm-1 control-label" style="margin-right:5px;">To</label>
                                            @*<select class="form-control m-b" name="timeTo" id="timeTo">
                                                   <option>Engineer 1</option>
                                                        <option>Engineer 2</option>
                                                        <option>Engineer 3</option>
                                                        <option>Engineer 4</option>
                                                </select>*@
                                            <input name="timeTo" id="timeTo" type="text" class="time ui-timepicker-input col-sm-5" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <button id="button" name="button" type="button" class="btn btn-outline btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Room Schedule</h5>
                                            <div class="ibox-tools">
                                                @*<a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li>
                                                            <a href="#">Config option 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Config option 2</a>
                                                        </li>
                                                    </ul>
                                                    <a class="close-link">
                                                        <i class="fa fa-times"></i>
                                                    </a>*@
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover dataTables-result">
                                                    <thead>
                                                        <tr id="headerGen">
                                                            @*<th>ชื่อ</th>
                                                                <th>สกุล</th>*@
                                                            @*<th>หน่วยงาน</th>
                                                                <th>อีเมล์</th>
                                                                <th>เบอร์ติดต่อ</th>
                                                                <th>บัญชีผู้ใช้งาน</th>
                                                                <th>สถานะ</th>
                                                                <th></th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            @*<table class="table table-striped table-bordered table-hover dataTables-example">*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            @*<div class="footer">
                    <div class="pull-right">
                        CU <strong>Class Room</strong>
                    </div>
                </div>*@
        </div>
    </div>
</form>

@section Scripts
{
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript">
        $(function () {
            $("#mainForm").validate({
                rules: {
                    BU: {
                        required: true
                    }
                },
                messages: {
                    BU: {
                        required: "Please select any building"
                    }
                }

            });
            initSearch();
            //  initTable();
        });

        $('#button').on('click', function () {
            var lengthBU = $("#BU").val().length;
            if (lengthBU > 0) {
                initTable();
            } else {
                bootbox.alert("Please select any building", function () {
                    console.log("Please select any building");
                });
            }
        });
        function initSearch() {
            initFaculty();
            initBuilding();
            initRoom();
            initTime();
        }
        function initFaculty() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("FacultyLut", "Faculty", new { area = "" })",
                data: {

                },
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    $("#FC").empty();
                    $('<option>').val("").text("").appendTo('#FC');
                    $.each(data, function (index, item) {
                        var opt = $('<option>').val(item.FacultyCode).text(item.Name);
                        if (typeof (buVal) != "undefined" && buVal == item.FacultyCode) {
                            opt.attr("selected", "selected");
                        }
                        opt.appendTo('#FC');
                    });
                    $("#FC").chosen({ allow_single_deselect: true }).trigger("chosen:updated");;
                    $("#FC").chosen().change(function () {
                        //initBranch($(this).val());
                        //initDept($(this).val());
                        //initRoom($(this).val());
                        initBuilding($(this).val());
                    });
                },
                dataType: "json"
            });
        }
        function initBuilding(facultyNo) {
            console.log("facultyNo", facultyNo);
            $.ajax({
                type: "POST",
                url: "@Url.Action("BuildingLutByFaculty", "Building", new { area = "" })",
                data: {
                    facultyCode: facultyNo
                },
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    $("#BU").empty();
                    $('<option>').val("").text("").appendTo('#BU');
                    $.each(data, function (index, item) {
                        var opt = $('<option>').val(item.BuildingNo).text(item.Name);
                        if (typeof (buVal) != "undefined" && buVal == item.BuildingNo) {
                            opt.attr("selected", "selected");
                        }
                        opt.appendTo('#BU');
                    });
                    $("#BU").chosen({ allow_single_deselect: true }).trigger("chosen:updated");;
                    $("#BU").chosen().change(function () {
                        //initBranch($(this).val());
                        //initDept($(this).val());
                        initRoom($(this).val());
                    });
                },
                dataType: "json"
            });
        }
        function initRoom(buildingNo) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("RoomLut", "Room", new { area = "" })",
                data: { buildingNo: buildingNo },
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    $("#RO").empty();
                    $('<option>').val("").text("").appendTo('#RO');
                    $.each(data, function (index, item) {
                        var opt = $('<option>').val(item.RoomId).text(item.RoomNo);
                        if (typeof (buVal) != "undefined" && buVal == item.RoomId) {
                            opt.attr("selected", "selected");
                        }
                        opt.appendTo('#RO');
                    });
                    $("#RO").chosen({ allow_single_deselect: true }).trigger("chosen:updated");;
                    $("#RO").chosen().change(function () {
                        //initBranch($(this).val());
                        //initDept($(this).val());
                    });
                },
                dataType: "json"
            });
        }

        function initTime() {
            $('#timeFrom').timepicker({ 'timeFormat': 'H:i' });
            $('#timeTo').timepicker({ 'timeFormat': 'H:i' });
        }

        function initTable() {
            var chck = $("input:checkbox:checked").map(function () {
                return $(this).val();
            }).get();
            console.log("chck", chck);
            $.ajax({
                type: "POST",
                url: "@Url.Action("Query", "Schedule", new { area = "" })",
                data: {
                    BuildingNo: $("#BU").val(),
                    //BuildingNo:"10011",
                    RoomNo: $("#RO").val(),
                    Days: chck,
                    StartTime: $("#timeFrom").val(),
                    EndTime: $("#timeTo").val(),
                    //BuildingNo: "320005",
                    //RoomNo: null,
                    //Days: null,
                    //StartTime: null,
                    //EndTime: null,
                },
                success: function (result) {
                    tHeader(result.header, result.data)
                    //tBody(result.data);
                },
                error: function (error) {
                }
            });
            //tHeader();
            //tBody();
        }
        function tHeader(header, data) {
            $('#headerGen').empty();
            for (var i = 0 ; i < header.length; i++) {
                //console.log(i,header[i] )
                $('#headerGen').append('<th>' + header[i] + '</th>')
            }
            tBody(data);

        }

        function tBody(result) {
            var table = $('.dataTables-result').DataTable({
                "data": result,
                "searching": false,
                "ordering": false,
                "destroy": true
                //,
                //"bPaginate": false
            });
        }
    </script>
}
