@model RoomUsageApp.Models.ReportChartByTypeModel
@{
    // ViewBag.Title = "Index";
    ViewBag.Title = "Room Efficiency";
}
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Search</h5>
                        </div>
                        <div class="ibox-content">
                            <form action="@Url.Action("Index", "RoomEfficiency")" method="post">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="FC" class="col-sm-1 control-label">Faculty</label>
                                        <div class="col-sm-4">
                                            <select class="form-control m-b" name="FC" id="FC" data-placeholder="Select a Faculty"></select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="BU" class="col-sm-1 control-label">Building</label>
                                        <div class="col-sm-4">
                                            <select class="form-control m-b" name="BU" id="BU" data-placeholder="Select a Building"></select>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="form-group">
                                            <label for="RO" class="col-sm-1 control-label">Room</label>
                                            <div class="col-sm-4">
                                                <select class="form-control m-b" name="RO" id="RO" data-placeholder="Select a Room"></select>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <button id="btnSearch" name="button" type="submit" class="btn btn-outline btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Room Usage Effectiveness</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="form-group">
                                                <div>
                                                    <canvas id="barChart" height="140"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Faculty Usage Effectiveness</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="form-group">
                                                <div>
                                                    <canvas id="barChart2" height="140"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/plugins/chartjs")
    <script type="text/javascript">
        $(function () {
            initFaculty();

            var fc = "@Model.FC";
            if(fc.length > 0)
            {
                initBuilding(fc);
            }
            else
            {
                initBuilding(null);
            }
            
            //initRoom();
            //initChart();
            //initChart2();
            bindChart1();
            bindChart2();

            $("#btnSearch").click(function() {

            });

        });
        function initFaculty() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("FacultyLut", "Faculty", new { area = "" })",
                data: {

                },
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    $("#FC").empty();
                    $('<option>').val("").text("").appendTo('#FC');
                    $.each(data, function (index, item) {
                        var opt = $('<option>').val(item.FacultyCode).text(item.Name);
                        if (typeof (buVal) != "undefined" && buVal == item.FacultyCode) {
                            opt.attr("selected", "selected");
                        }
                        opt.appendTo('#FC');
                    });

                    var fc = "@Model.FC";
                    if(fc.length > 0)
                    {
                        $("#FC").val(fc);
                    }

                    $("#FC").chosen({ allow_single_deselect: true }).trigger("chosen:updated");;
                    $("#FC").chosen().change(function () {
                        //initBranch($(this).val());
                        //initDept($(this).val());
                        initBuilding($(this).val());
                    });
                },
                dataType: "json"
            });
        }
        function initBuilding(facultyCode) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("BuildingLutByFaculty", "Building", new { area = "" })",
                data: {
                    facultyCode: facultyCode
                },
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    $("#BU").empty();
                    $('<option>').val("").text("").appendTo('#BU');
                    $.each(data, function (index, item) {
                        var opt = $('<option>').val(item.BuildingNo).text(item.Name);
                        if (typeof (buVal) != "undefined" && buVal == item.BuildingNo) {
                            opt.attr("selected", "selected");
                        }
                        opt.appendTo('#BU');
                    });

                    var bu = "@Model.BU";
                    if(bu.length > 0)
                    {
                        $("#BU").val(bu);
                    }

                    $("#BU").chosen({ allow_single_deselect: true }).trigger("chosen:updated");;
                    $("#BU").chosen().change(function () {
                        //initBranch($(this).val());
                        //initDept($(this).val());
                        initRoom($(this).val());
                    });
                },
                dataType: "json"
            });
        }
        function initRoom(buildingNo) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("RoomLut", "Room", new { area = "" })",
                data: {
                    buildingNo: buildingNo
                },
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    $("#RO").empty();
                    $('<option>').val("").text("").appendTo('#RO');
                    $.each(data, function (index, item) {
                        var opt = $('<option>').val(item.BuildingNo).text(item.Name);
                        if (typeof (buVal) != "undefined" && buVal == item.BuildingNo) {
                            opt.attr("selected", "selected");
                        }
                        opt.appendTo('#RO');
                    });
                    $("#RO").chosen({ allow_single_deselect: true }).trigger("chosen:updated");;
                    $("#RO").chosen().change(function () {
                        //initBranch($(this).val());
                        //initDept($(this).val());
                        //  initRoom($(this).val());
                    });
                },
                dataType: "json"
            });
        }
        function initChart() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("BuildingLut", "Building", new { area = "" })",
                data: {

                },
                success: function (data, textStatus, jqXHR) {
                    bindChart();
                },
                dataType: "json"
            });
        }
        function bindChart1() {
            var barData = {
                labels: @Html.Raw(Model.Labels),
                datasets: [
                    {
                        label: "Used Time",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: @Html.Raw(Model.DataHours)
                        },
                    {
                        label: "Used Seat",
                        fillColor: "rgba(26,179,148,0.5)",
                        strokeColor: "rgba(26,179,148,0.8)",
                        highlightFill: "rgba(26,179,148,0.75)",
                        highlightStroke: "rgba(26,179,148,1)",
                        data: @Html.Raw(Model.DataSeat)

                        }
                ]
            };

            var barOptions = {
                scaleShowLabels: true,
                scaleBeginAtZero: true,
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                barShowStroke: true,
                barStrokeWidth: 2,
                barValueSpacing: 5,
                barDatasetSpacing: 1,
                responsive: true,
                multiTooltipTemplate: "<%= datasetLabel %> - <%= value %> %"
            }
            var ctx = document.getElementById("barChart").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(barData, barOptions);


        }


        /////
        function initChart2() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("BuildingLut", "Building", new { area = "" })",
                data: {

                },
                success: function (data, textStatus, jqXHR) {
                    bindChart2();
                },
                dataType: "json"
            });
        }
        function bindChart2() {
            var barData = {
                labels: @Html.Raw(Model.Labels),
                datasets: [
                    //{
                    //    label: "Used Time",
                    //    fillColor: "rgba(220,220,220,0.5)",
                    //    strokeColor: "rgba(220,220,220,0.8)",
                    //    highlightFill: "rgba(220,220,220,0.75)",
                    //    highlightStroke: "rgba(220,220,220,1)",
                    //    data: [65, 59, 80, 81, 56, 55, 40]
                    //},
                    {
                        label: "Room Efficiency",
                        fillColor: "rgba(26,179,148,0.5)",
                        strokeColor: "rgba(26,179,148,0.8)",
                        highlightFill: "rgba(26,179,148,0.75)",
                        highlightStroke: "rgba(26,179,148,1)",
                        data:  @Html.Raw(Model.DataEff)
                        }
                ]
            };

            var barOptions = {
                scaleShowLabels: true,
                scaleBeginAtZero: true,
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                barShowStroke: true,
                barStrokeWidth: 2,
                barValueSpacing: 5,
                barDatasetSpacing: 1,
                responsive: true ,
                tooltipTemplate: "<%= datasetLabel %> - <%= value %> %"
            }
            var ctx = document.getElementById("barChart2").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(barData, barOptions);


        }
    </script>
}
